{% trans_default_domain 'alita' %}

{% if app.user.rule(['ROLE_USERS', 'ROLE_SYSTEM'])  %}
    <li class="nav-item">
        <a href="#" class="nav-link collasped" data-toggle="collapse" data-target="#collapseSystem"
            aria-expanded="true" aria-controls="collapseSystem">
            <i class="fa fa-cogs"></i>
            <span>{{ 'alita.navbar.admin.title' | trans}}</span>
        </a>
        <div id="collapseSystem" class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">
                {% if app.user.rule(['ROLE_USERS']) %}
                    <a class="collapse-item
                        {% if 'alita_users_list' is same as(route) %}active{% endif %}"
                   href="{{ path('alita_users_list') }}">{{ 'alita.navbar.admin.users' | trans }}</a>
                {% endif %}
                {% if app.user.rule(['ROLE_SYSTEM']) %}
                    <a class="collapse-item {% if 'alita_site_index' is same as(route)%}active{% endif %}"
                    href="{{ path('alita_site_index') }}">
                        {{ 'alita.navbar.admin.site'|trans }}
                    </a>
                {% endif %}
            </div>
        </div>
    </li>
{% endif %}