{% set bg_color = 'bg-gradient-login' %}
{% trans_default_domain 'form' %}
{% extends 'Layout/full-page.html.twig' %}

{% block head_title %}{{ 'form.title.renewpassword' | trans({},'form') }} - Alita{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
        <div class="col-lg-6">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">{{ 'form.title.renewpassword'|trans() }}</h1>
                </div>
                {% if error is defined %}
                    <div class="alert alert-danger">{{ error.message|trans(error.params, 'error') }}</div>
                {% endif %}
                {% if showForm is defined %}
                    {{ form_start(form,{'attr':{
                        'class':'js-form js-animated',
                        'data-item': 'alita-robot',
                        'data-action':'submit'
                    }}) }}
                    {{ form_row(form.password) }}

                    {% include '_blocks/form/helper-password.html.twig' %}

                    {{ form_row(form.submit) }}
                    {{ form_end(form) }}
                {% endif %}
                <hr>
                <div class="text-center">
                    <a href="{{ path('alita_login') }}">{{ 'form.link.login' | trans() }}</a>
                </div>
                <div class="text-center">
                    <a href="{{ path('alita_forgotPassword') }}">{{ 'form.link.forgotpassword' | trans() }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}