{% trans_default_domain 'form' %}
<div class="form-group row-inner-password js-password-utils border-primary border text-black rounded p-4">
    <p> {{ 'form.helper.password.title' | trans }} </p>
    <ul>
        <li class="min-max">
            {{ 'form.helper.password.length' | trans({
                    '%min%':formPasswordMinChar,
                    '%max%':formPasswordMaxChar
                })
            }}
        </li>
        <li class="uppercase">{{ 'form.helper.password.upper' | trans }}</li>
        <li class="lowercase">{{ 'form.helper.password.lower' | trans }}</li>
        <li class="digits">{{ 'form.helper.password.digit' | trans }}</li>
        <li class="spaces">{{ 'form.helper.password.space' | trans }}</li>
        <li class="symbols">{{ 'form.helper.password.symbols' | trans }}</li>
    </ul>
</div>